.PopularSection {
  & h2 {
    font-weight: 500;
    padding: 2%;

    &::after {
      content: "";
      background: var(--color-primary);
      display: block;
      width: 3%;
      height: 2px;
      margin-top: 0.2rem;
    }
  }

  & .section__card {
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
