.Cards {
  display: flex;
  position: relative;
  margin-bottom: -0.5rem;
  max-width: 100%;

  .card__banner {
    filter: brightness(85%);

    @media screen and (max-width: 1440px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 15rem;
    }
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .card__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    position: absolute;
    bottom: 10%;
    left: 5%;

    #btn__genre {
      color: var(--color-primary);
      background: var(--color-tertiary);
      padding: 0.5rem;
      border: none;
      border-radius: 0 8px 0 8px;
      font-size: 0.8rem;
      font-weight: normal;
      line-height: 16px;
    }

    h3 {
      font-size: clamp(1.3rem, 3vw + 1rem, 1.3rem);
      font-weight: 600;
      line-height: 33px;

      @media screen and (max-width: 425px) {
        font-size: 1.1rem;
      }
    }
  }
}
