:root {
  --color-primary: #ffa634;
  --color-primary-contrast: #f9f9f9;

  --color-secondary: #ff267a;
  --color-secondary-contrast: #a8a8a8;

  --color-tertiary: #181818;
  --color-tertiary-dark: #121214;
  --color-tertiary-background: #2f2e41;

  --color-gradient-dark: #ff267a;
  --color-gradient-light: #ffa634;

  --background-footer: #121214;
  --line-height: 28px;
}
