.SocialMedias {
  padding-top: 1rem;

  .footer__social-medias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;

    @media screen and (max-width: 425px) {
      display: none;
    }

    svg {
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      
      &:hover {
        path {
          stroke: var(--color-primary);
          transition: 0.3s ease all;
        }
      }
    }

    a img {
      width: 100%;
    }
  }
}
