.Navbar {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    width: 100vw;
    height: 10vh;
    padding: 4% 2%;
  }

  .menu__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(264.26deg, var(--color-gradient-dark) 0%, var(--color-gradient-light) 101.03%);

    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Mukta", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 66px;
  }

  svg {
    cursor: pointer;

    &:hover {
      path {
        stroke: var(--color-primary);
        transition: 0.3s ease all;
      }
    }
  }

  ul {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
  }

  .nav__item {
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      margin-top: 0.2rem;
    }

    &:hover::after {
      background: linear-gradient(264.26deg, var(--color-gradient-dark) 0%, var(--color-gradient-light) 101.03%);
      transition: 0.5s ease all;
    }
  }
}
