.MyList {
  background: var(--background-footer);
  background-image: none;
  height: 100vh;

  @media screen and (min-width: 320px) and (max-width: 475px) {
    height: auto;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    width: 100vw;
    height: 10vh;

    a {
      text-decoration: none;
      padding: 4% 2%;

      @media screen and (max-width: 768px) {
        padding-left: 4%;
      }

      @media screen and (min-width: 320px) and (max-width: 475px) {
        padding-left: 6%;
      }
    }
  }

  .menu__logo {
    background: linear-gradient(264.26deg, var(--color-gradient-dark) 0%, var(--color-gradient-light) 101.03%);

    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Mukta", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 66px;

    @media screen and (min-width: 320px) and (max-width: 475px) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: clamp(1rem, 2vw + 0.8rem, 2rem);
    font-weight: normal;
    padding: 0 2%;

    @media screen and (max-width: 1440px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      padding: 0 4%;
    }

    @media screen and (min-width: 320px) and (max-width: 475px) {
      padding: 0 8%;
      font-size: 1.2rem;
    }
  }

  .mylist__movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2%;

    @media screen and (max-width: 768px) {
      padding: 4%;
      gap: 4rem;
    }

    @media screen and (min-width: 320px) and (max-width: 475px) {
      padding: 8%;
      gap: 2rem;
    }

    img {
      max-width: 20%;

      @media screen and (max-width: 1024px) {
        max-width: 30%;
      }

      @media screen and (max-width: 768px) {
        max-width: 25%;
      }

      @media screen and (min-width: 320px) and (max-width: 475px) {
        max-width: 100%;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
